* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f8;
  color: #111;
}

main {
  padding: 24px;
}

button {
  cursor: pointer;
}
